# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.data

.mcp.json

.claude/settings.json

# nixago: ignore-linked-files
/cog.toml
/.conform.yaml
/lefthook.yml

