name: "Checks"
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  rust-checks:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    env:
      MINIMAX_API_KEY: ${{ secrets.MINIMAX_API_KEY }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: "recursive"

      - name: Setup
        uses: ./.github/actions/common-setup
        with:
          SECRET_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MINIMAX_API_KEY: ${{ secrets.MINIMAX_API_KEY }}

      - name: Check Rust formatting
        run: secretspec run --provider env --profile default -- devenv shell -- just cargo test

  nix-build-default:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    env:
      MINIMAX_API_KEY: ${{ secrets.MINIMAX_API_KEY }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup
        uses: ./.github/actions/common-setup
        with:
          SECRET_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MINIMAX_API_KEY: ${{ secrets.MINIMAX_API_KEY }}

      - name: Build default package
        run: nix build -v

  nix-build-omni-core-rs:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    env:
      MINIMAX_API_KEY: ${{ secrets.MINIMAX_API_KEY }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup
        uses: ./.github/actions/common-setup
        with:
          SECRET_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MINIMAX_API_KEY: ${{ secrets.MINIMAX_API_KEY }}

      - name: Build omni-core-rs
        run: nix build .#omni-core-rs -v
